# First Python program that connects to a database

In [7]:
#Connect to SQLite
import sqlite3
#Specific exceptions SQLite may raise
from sqlite3 import Error

In [8]:
#Create a connection object that represents the database
#Remember \\ for Windows
conn = sqlite3.connect('data\\people.db')

In [9]:
#Cursor object stores knowledge about transactions excuted against database
cur = conn.cursor()

In [4]:
cur.execute("select * from people;")
#This executes the command, but doesn't display automatically

In [5]:
rows = cur.fetchall()
rows

[(1, 'KatieDavid'),
 (2, 'Shane'),
 (3, 'Megan'),
 (4, 'DorothyJohn'),
 (5, 'David'),
 (6, 'Newb')]

In [6]:
rows[3]

(4, 'DorothyJohn')

cur.close()

In [7]:
cur = conn.cursor()
cur.execute("select * from pets")
rows = cur.fetchall()
print(rows)
cur.close()

[(1, 1, 'Potato'), (2, 1, 'Pickle'), (3, 1, 'Pancake'), (4, 1, 'Mortie'), (5, 1, 'Malfoy'), (6, 1, 'Ned'), (7, 2, 'Callahan'), (8, 4, 'Maizer'), (9, 4, 'Kringle'), (11, 5, 'Birdie'), (12, 6, 'Wiggly')]

In [8]:
cur = conn.cursor()
petName = ('Malfoy',)
cur.execute('select * from pets where pet_name = ?', petName)
rows = cur.fetchall()
print(rows)
cur.close()

[(5, 1, 'Malfoy')]

In [9]:
petName = 'Malfoy'
sqlString = 'select * from pets where pet_name = {}'.format(petName)
print(sqlString)

select * from pets where pet_name = Malfoy

In [10]:
cur = conn.cursor()
petName = input('Enter pet name')
sqlString = 'select * from pets where pet_name = "{}"'.format(petName)
cur.execute(sqlString)
rows = cur.fetchall()
print(rows)
cur.close()

Enter pet nameMalfoy
[(5, 1, 'Malfoy')]

# Execute SQL Query using Pandas

In [11]:
import pandas as pd

In [12]:
df = pd.read_sql_query(sqlString,conn)

In [13]:
df

   pet_id  owner_id pet_name
0       5         1   Malfoy

In [14]:
#Pandas eliminates the need for cursor

# Insert Rows with Python

In [15]:
#Insert statement
person_first_name='Dorothy'
person_last_name='Martinez'
pet_name='Newbie'
person_sql_string="insert into people (first_name) values ('{}');".format(person_first_name)
pet_sql_string="insert into pets (pet_name, owner_id) values ('{}', last_insert_rowid());".format(pet_name)
print(person_sql_string)
print(pet_sql_string)

cur = conn.cursor()
cur.execute(person_sql_string)
cur.execute(pet_sql_string)
cur.close()

#Get list
sqlString2 = 'select * from people, pets;'
df = pd.read_sql_query(sqlString2,conn)
df

insert into people (first_name) values ('Dorothy');
insert into pets (pet_name, owner_id) values ('Newbie', last_insert_rowid());

    person_id  first_name  pet_id  owner_id  pet_name
0           1  KatieDavid       1         1    Potato
1           1  KatieDavid       2         1    Pickle
2           1  KatieDavid       3         1   Pancake
3           1  KatieDavid       4         1    Mortie
4           1  KatieDavid       5         1    Malfoy
5           1  KatieDavid       6         1       Ned
6           1  KatieDavid       7         2  Callahan
7           1  KatieDavid       8         4    Maizer
8           1  KatieDavid       9         4   Kringle
9           1  KatieDavid      11         5    Birdie
10          1  KatieDavid      12         6    Wiggly
11          1  KatieDavid      13         7    Newbie
12          2       Shane       1         1    Potato
13          2       Shane       2         1    Pickle
14          2       Shane       3         1   Pancake
15          2       Shane       4         1    Mortie
16          2       Shane       5         1    Malfoy
17          2       Shane       6         1       Ned
18          2       Shane       7         2  Callahan
19          2       Shane       8         4    Maizer
20          2       Shane       9         4   Kringle
21          2       Shane      11         5    Birdie
22          2       Shane      12         6    Wiggly
23          2       Shane      13         7    Newbie
24          3       Megan       1         1    Potato
25          3       Megan       2         1    Pickle
26          3       Megan       3         1   Pancake
27          3       Megan       4         1    Mortie
28          3       Megan       5         1    Malfoy
29          3       Megan       6         1       Ned
..        ...         ...     ...       ...       ...
54          5       David       7         2  Callahan
55          5       David       8         4    Maizer
56          5       David       9         4   Kringle
57          5       David      11         5    Birdie
58          5       David      12         6    Wiggly
59          5       David      13         7    Newbie
60          6        Newb       1         1    Potato
61          6        Newb       2         1    Pickle
62          6        Newb       3         1   Pancake
63          6        Newb       4         1    Mortie
64          6        Newb       5         1    Malfoy
65          6        Newb       6         1       Ned
66          6        Newb       7         2  Callahan
67          6        Newb       8         4    Maizer
68          6        Newb       9         4   Kringle
69          6        Newb      11         5    Birdie
70          6        Newb      12         6    Wiggly
71          6        Newb      13         7    Newbie
72          7     Dorothy       1         1    Potato
73          7     Dorothy       2         1    Pickle
74          7     Dorothy       3         1   Pancake
75          7     Dorothy       4         1    Mortie
76          7     Dorothy       5         1    Malfoy
77          7     Dorothy       6         1       Ned
78          7     Dorothy       7         2  Callahan
79          7     Dorothy       8         4    Maizer
80          7     Dorothy       9         4   Kringle
81          7     Dorothy      11         5    Birdie
82          7     Dorothy      12         6    Wiggly
83          7     Dorothy      13         7    Newbie

[84 rows x 5 columns]

In [16]:
conn.close()

In [17]:
#conn.commit() to save to database

Using connection from above. Starting new exercise of adding random readings to new database.

In [47]:
import time
import datetime
import random

def mock_accel_read():
    x = random.randrange(0, 10, 1)
    y = random.randrange(0, 10, 1)
    z = random.randrange(0, 10, 1)
    serial_no = "TestNumber"
    timestamp = datetime.datetime.fromtimestamp(time.time()).strftime('%Y-%m-%d %H:%M:%S')
    return (x, y, z, serial_no, timestamp)

In [48]:
x,y,z, serial_no, timestamp = mock_accel_read()

In [49]:
print(x,y,z, timestamp)

5 5 7 2019-01-27 12:30:19

In [50]:
#Create a connection object that represents the database
#Remember \\ for Windows
conn2 = sqlite3.connect('data\\readings.db')

In [51]:
#Cursor object stores knowledge about transactions excuted against database
cur = conn2.cursor()

In [52]:
sql_string="insert into readings (x, y, z, serial_no, timestamp) values ('{0}','{1}','{2}','{3}','{4}');".format(x, y, z, serial_no, timestamp)

In [53]:
print(sql_string)

insert into readings (x, y, z, serial_no, timestamp) values ('5','5','7','TestNumber','2019-01-27 12:30:19');

In [54]:
cur.execute(sql_string)
#This executes the command, but doesn't display automatically

In [55]:
cur.execute('select * from readings;')

In [56]:
rows = cur.fetchall()
rows

[(1, 'TestNumber', '2019-01-27 11:53:39', 5, 4, 8),
 (2, 'TestNumber', '2019-01-27 11:53:39', 5, 4, 8),
 (3, 'TestNumber', '2019-01-27 11:53:39', 5, 4, 8),
 (4, 'TestNumber', '2019-01-27 12:17:57', 8, 1, 2),
 (5, 'TestNumber', '2019-01-27 12:30:19', 5, 5, 7)]

Now can we add this to our pi-iot code? Wait, we didn't close the database. If we don't close it, data is not committed to the database... ie inaccessible

In [60]:
cur.execute('select count(*) from readings;')
result = cur.fetchall()
result
count = result[0][0]
count

5

In [45]:
conn2.commit()
conn2.close()

Experimenting with os and os.path

In [61]:
import os

In [62]:
p = os.path.join("fu")

In [63]:
p

'fu'

In [64]:
p = os.path.join(p, "next")

In [65]:
p

'fu\\next'

In [66]:
os.path.join("documents", "code", "piiot")

'documents\\code\\piiot'